.calendar {
  width: 600px;
  background-color: #ffffff;

  .calendar-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 31px 30px;
    border-bottom: #D2D2D7 1px solid;

    .year-direction {
      display: flex;
      gap: 10px;

      button {
        width: 40px;
        height: 40px;
        border-radius: 90px;
        background-color: #121212;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
      }
    }
  }

  .calendar-body {
    padding: 40px 30px;
    height: 660px;
    overflow-y: scroll;
    scrollbar-width: none;
    -ms-overflow-style: none;
    scroll-behavior: smooth; 

    .calendar-months {
      .month {
        margin-bottom: 30px;

        h2 {
          margin-bottom: 10px;
        }

        .days-grid {
          display: flex;
          flex-direction: column;
          gap: 10px;

          .row-week {
            display: flex;
            align-items: center;
            justify-content: space-between;
          }

          .row-week:hover {
            background-color: #F5F5F7;
          }

          .day {
            padding: 15px;
            width: 72px;
            height: 80px;
            display: flex;
            align-items: center;
            justify-content: center;

            p {
              display: flex;
            align-items: center;
            justify-content: center;
            }
          }

          .day.empty {
            opacity: 0;;
          }
        }
      }
    }
  }
}
